/* Importar estilos */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Aplicar box-sizing global para evitar problemas de cálculo de ancho y padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Estilo elementos generales*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevenir scroll horizontal inesperado */
    background-color: #f4f4f4;
}

h1, h2{
    font-family: "Audiowide", serif;
}

h2, p {
    color: #333;
    margin-top:2%;
    margin-bottom: 2%;
    text-align: center;
}

p{
    font-family: Arial, sans-serif;
}

/* Estilos del encabezado */
.header {
    background-image: url(img/fondorojo.jpg);
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-bottom: 2%;

}
/* Estilos del contenido principal */
.main-content {
    display: flex;
    margin-left: 250px; /* Espacio reservado para la sidebar */
    flex: 1; /* Hacer que ocupe todo el espacio restante */
    width: calc(100% - 250px); /* Ajustar al ancho restante */
    overflow-x: hidden; /* Prevenir desbordamientos horizontales */
    flex-direction: column;
}
/* Estilos del menú lateral (sidebar) */
.sidebar {
    width: 250px;
    height: 100%;
    background-image: url('img/bandaDeRodadura.jpg');
    background-position: 70% 60%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Permitir scroll si el contenido es demasiado alto */
    display:flex;
    flex-direction: column;
}

.sidebar a {
    font-family: "Audiowide", serif;
    background-color: #740303;
    opacity: 0.7;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #bb1414;
    opacity: 1;
}

/* Botón cerrar sesión */
.cerrar {
    margin-top: auto; /* Empuja este div al final */
    text-align: center;
    padding: 10px;
}

/* Estilo del botón */
button {
    padding: 10px 20px;
    background-color: #740303;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    width: auto;
    font-family: "Audiowide", serif;
}

button:hover {
    background-color: #bb1414;
}
/* Estilos de las tablas */
table {
    width: 100%; 
    max-width: 600px;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    margin: 0 auto; /* Centrar la tabla */
}

td, th {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

table tr:nth-child(n+2) {
    font-family: Arial, sans-serif;
}

td:first-child{
    width :20%;
}
.headerTabla{
    background-image: url(img/fondorojo.jpg);
    color: white;
    font-family: "Audiowide", serif;
    font-size: 18px; 
    font-weight: bold; 
}

