
/* Estilo general del body y layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

/* Estilos para las secciones */
section {
    margin-bottom: 20px;
}

/* Estilos generales para el formulario */
form {
    max-width: 600px;
    margin: 0 auto; /* Centrar el formulario */
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
}

/* Estilos de los textos informativos del formulario */
label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    font-family: "Audiowide", serif;
}

/* Estilo del selector de horas */
#horas {
    padding: 3px;
    margin-bottom: 20px;
    width: 100%; /* Hacer el selector responsive */
}

/* Estilo para el área de texto (textarea) */
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    resize: vertical;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

#secBotones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

/* Centrar botón */
#ver-citas button {
    display: block;
    margin: 20px auto;
}