/* Importar estilos */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/* Estilo general del body y layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

/* Estilos para las secciones */
section {
    margin-bottom: 20px;
}

/* Estilos de las tablas */
table {
    width: 100%; /* Hacer la tabla responsive */
    max-width: 600px;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #740303;
    margin: 0 auto; /* Centrar la tabla */
}

td, th {
    padding: 10px;
    text-align: center;
    border: 1px solid #740303;
}

.headerTabla{
    background-image: url(../img/fondorojo.jpg);
    color: white;
    font-family: "Audiowide", serif;
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
}
td:first-child{
    width :20%;
}
/* Estilos generales para el formulario */
form {
    max-width: 600px;
    margin: 0 auto; /* Centrar el formulario */
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
}

/* Estilos de los textos informativos del formulario */
label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    font-family: "Audiowide", serif;
}

/* Estilo del selector de horas */
#horas {
    padding: 3px;
    margin-bottom: 20px;
    width: 100%; /* Hacer el selector responsive */
}

/* Estilo para el área de texto (textarea) */
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    resize: vertical;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Centrar botón */
#misMoto button {
    display: block;
    margin: 20px auto;
}