/* Importar estilos */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/* Aplicar box-sizing global para evitar problemas de cálculo de ancho y padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid #ccc;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

table th {
    background-color: #740303;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f4f4f4;
}

table tr:nth-child(n+2) {
    font-family: Arial, sans-serif;
}

.headerTabla{
    background-image: url(../img/fondorojo.jpg);
    color: white;
    font-family: "Audiowide", serif;
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
}

/* Estilo de los botones */
.button {
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    color: white;
    background-color: #740303;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.button.edit:hover {
    background-color: #4CAF50;
    /* Verde para editar */
}

.button.remove {
    background-color: #f44336;
    /* Rojo para eliminar */
}

.button.remove:hover {
    background-color: #d32f2f;
}

/* Estilos adicionales para el contenido principal */
.main-content {
    padding: 20px;
    margin-left: 250px;
    /* Ajustar con el espacio reservado para el sidebar */
    width: calc(100% - 250px);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: left;
}

.button {
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    color: white;
    background-color: blue;
    cursor: pointer;
    border-radius: 3px;
}

.button.remove {
    background-color: red;
}